# Basic Data Types

In [1]:
# integers
x = 3

In [2]:
print(x)       # Prints "3"
print(type(x)) # Prints "<class 'int'>"

3
<class 'int'>

In [3]:
# floating numbers
y = 2.5

print(y)
print(type(y))

2.5
<class 'float'>

In [4]:
# Strings

h = 'hello'    # String literals can use single quotes
w = "world"    # or double quotes; it does not matter.

print(h)       # Prints "hello"
print(type(h))  # String length; prints "5"

hello
<class 'str'>

In [5]:
t = True
f = False

print(t)
print(type(t)) # Prints "<class 'bool'>"

True
<class 'bool'>

# Basic Operations

numeric, shorthand, string

In [6]:
# numeric operators

x = 3

print(x + 1)   # Addition; prints "4"
print(x - 1)   # Subtraction; prints "2"
print(x * 2)   # Multiplication; prints "6"
print(x ** 2)  # Exponentiation; prints "9"

4
2
6
9

In [8]:
# shorthand operators

x += 1
print(x)  # Prints "4"

x *= 2
print(x)  # Prints "8"

9
18

In [9]:
# boolean operators

t = True
f = False

print(t and f) # Logical AND; prints "False"
print(t or f)  # Logical OR; prints "True"
print(not t)   # Logical NOT; prints "False"
print(t != f)  # Logical XOR; prints "True"

False
True
False
True

In [11]:
# string concatenation
hw = 'hello' + ' ' + 'pokhara'  # String concatenation
print(hw)  # prints "hello world"

hello pokhara

In [15]:
s = "Pokhara"

print(len(s))  # String length
print(s.capitalize())  # Capitalize a string
print(s.upper())       # Convert a string to uppercase
print(s.replace('ra', 'reli'))  # Replace all instances of one substring with another;
print('  Pokhara '.strip())  # Strip leading and trailing whitespace

7
Pokhara
POKHARA
Pokhareli
Pokhara

In [16]:
# string formatting

city = "Pokhara"
print("Hello, %s!" % city)

Hello, Pokhara!

In [17]:
city1 = "Pokhara"
city2 = "Kathmandu"
distance = 200
unit = "kilometers"
print("%s is %d %s away from %s." % (city1,distance, unit,city2))

Pokhara is 200 kilometers away from Kathmandu.

# Functions and Iterations

In [18]:
def my_function(city):
    print(city)
    return 'Hello '+ city + "!"

print(my_function('Pokhara'))
print(my_function('Kathmandu'))
print(my_function('Tashkent'))

Pokhara
Hello Pokhara!
Kathmandu
Hello Kathmandu!
Tashkent
Hello Tashkent!

In [19]:
def my_loop_function(city):
  for x in city:
    print(x)

cities = ["Pokhara", "Kathmandu", "Tashkent"]

my_loop_function(cities)

Pokhara
Kathmandu
Tashkent

# Exercise

Write a function that takes 'city name' as input and prints: 'city name' must be a beautiful city. But we bet not as beautiful as Pokhara.

In [26]:
def cityname(name):
    
    print(name + ' must be a beautiful city. But we bet not as beautiful as Pokhara.')

In [27]:
cityname('Kathmandu')

Kathmandu must be a beautiful city. But we bet not as beautiful as Pokhara.